body {
    background-color:white;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 100px;
    color: red;
    position:relative;
    left: 20px;
}

.navbar {
    background-color: rgb(250, 213, 199);
    height: 200px;
}

.navbar-brand {
    position:relative;
    left: 50px;
    top: 200px;
    height: 700px;
    width: 1000px;
    font-size: 200px;
    color: red;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}

#search-form {
    position: relative;
    top: 15px;
    left: -390px;
}

#input-search {
    height: 100px;
    width: 800px;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

#submit {
    height: 100px;
    width: 90px;
    font-size: 20px;
    color: white;
    background-color: rgb(162, 162, 162);
    position: relative;
    top: -12px;
    left: 20px;
}

#container {
    position: relative;
    top: 100px;
    left: 200px;
}